

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    color:rgb(0, 12, 119);
    background: radial-gradient( white, rgb(235, 235, 235));
    background-repeat: no-repeat;
    background-size: cover;
}



header {
    display:flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(55, 57, 73);
    color: white;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 25px;
}




main {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.upper-info {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.title {
    width: 100%;
    text-align: center;
}

.undertitle {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    text-align: center;
}

.hr1 {
    height: 3px;
    margin: 0;
    background: black;
    width: 100%;
    border: none;
    margin-bottom: 10px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5%;
    margin: 0;
}

.righe {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.righe > input {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(229, 228, 231);
    padding: 20px 0;
    text-indent: 30px;
}

input[name="user-zip"]::placeholder{
    padding-left: 0;
}

label {
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 5px;
}

.righe > select {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 0;
    border: none;
    border-radius: 4px;
    background-color: rgb(229, 228, 231);
    text-indent: 30px;

}

#zip {
    width: 50%;
}

input[type="text"]:focus {
    outline: none;
    border: 2px solid rgb(69, 54, 133);
    transition: 0.3s;
    transform: scale(1.05);
  }

  input[type="email"]:focus {
    outline: none;
    border: 2px solid rgb(69, 54, 133);
    transition: 0.3s;
    transform: scale(1.05);
  }

  input[type="tel"]:focus {
    outline: none;
    border: 2px solid rgb(69, 54, 133);
    transition: 0.3s;
    transform: scale(1.05);
  }

  #state-id:focus {
    outline: none;
    border: 2px solid rgb(69, 54, 133);
    transition: 0.3s;
    transform: scale(1.05);
  }


.righe > label {
    color: rgb(22, 0, 83);
}

input::placeholder {
    padding-left: 5px;
}


input[type="text"]::placeholder {
    text-align: right;
    padding-right: 5px;
}

input[type="email"]::placeholder {
    text-align: right;
    padding-right: 5px;
}
input[type="tel"]::placeholder {
    text-align: right;
    padding-right: 5px;
}

input[type="tel"]::placeholder:focus {
    color: white;
}


.hr2 {
    width: 100%;
    margin-top: 30px;
    height: 2px;
    background: black;
    border: none;
}

.newsletter{
    padding: 0 5% 0 5%;
    background-color: rgb(204, 201, 191);
    margin-top: 20px;
}

.newsletter >  input{
    margin-top: 10px;
    margin-bottom: 0;
}

#newsletter-format {
    margin: 20px 0 5px 0;
}


.textbox {
    margin-top: 30px;
}

.textbox >  *{
    margin: 10px 0;
}

p {
    margin: 15px 0 5px 0;
}
.textbox > textarea {
    width: 100%;
    height: 100px;
    background: rgb(236, 236, 236);
    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 25px;
}

textarea:focus {
    outline: none;
    border: 2px solid rgb(69, 54, 133);
  }




input[type="submit"]{
    background:turquoise;
    width: 100%;
    height: 60px;
    border: none;
    font-size: 30px;
    color: white;
    border-radius:  5px;
    margin-bottom: 50px;
}

input[type="submit"]:hover{
    border: 2px solid rgb(0, 2, 134);
    cursor: pointer;
}

select {
    cursor: pointer;
}

input[type="checkbox"]{
    cursor: pointer;
}

input[type="radio"]{
    cursor: pointer;
}

footer {
    text-align: center;
    padding-bottom: 30px;
    background-color: rgb(204, 201, 191);
}


fieldset {
    border: none;
    padding: 0;
    margin: 0;
}


legend {
    background-color: rgba(45, 95, 95);
    border-radius: 30px;
    margin-bottom: 10px;
    color: white;
}


h2{
    padding: 0 10px;
}



input[name="user-name"]:valid {
    background: url(../images/iconmonstr-check-mark-7.svg) rgb(229, 228, 231);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 3px 15px;
}
input[type="email"]:valid {
    background: url(../images/iconmonstr-check-mark-7.svg) rgb(229, 228, 231);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 3px 15px;
}
input[type="text"]:valid {
    background: url(../images/iconmonstr-check-mark-7.svg) rgb(229, 228, 231);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 3px 15px;
}
input[type="tel"]:valid {
    background: url(../images/iconmonstr-check-mark-7.svg) rgb(229, 228, 231);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 3px 15px;
}
select:valid {
    background: url(../images/iconmonstr-check-mark-7.svg) rgb(229, 228, 231);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 3px 15px;
}


.righe input::placeholder{
    text-align: right;
    padding-right: 30px;
}







@media (min-width: 768px) {
    

    .container {
        width: 700px;
    }

    .contact-info{
        padding: 0%;
        margin: 0;
    }

    .righe {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #zip {
        width: 25%;
    }

    label {
        width: 30%;
    }

    h1{
        font-size: 30px;
    }
}